* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  color: white;
}

.container {
  background: #0d0d0dcc;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.matrix {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;

  border-left: 4px solid white;
  border-right: 4px solid white;
  position: relative;
}

.matrix::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px;

  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.matrix::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;

  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;

  display: flex;
  flex-flow: column;
  gap: 10px;
}

.header-bottom {
  display: flex;
  flex-flow: column;
  gap: 10px;
  font-size: 1.2rem;
}

.transformation-container {
  position: absolute;
  width: 250px;
  height: 250px;
  right: 0;
  top: 0;

  display: grid;
  grid-template-columns: 1fr;
}

body[data-mode="free-movement-mode"] {
  .transformation-container {
    grid-template-rows: 80% 20%;
  }

  .transformation-play-button {
    display: none;
  }
}

body[data-mode="input-transformation-mode"] {
  .transformation-container {
    grid-template-rows: 75% 25%;
  }

  .transformation-play-button {
    display: block;
  }
}

.transformation-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transformation-bottom {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}

.transformation-play-button {
  padding: 2px;
  cursor: pointer;
}

.transformation-play-button:disabled {
  cursor: default;
}

.transformation-matrix {
  font-size: 1.8rem;
  width: 80%;
  height: 80%;
}

#transformation-text {
  font-size: 1.3rem;
  text-align: center;
}

.matrix-input {
  width: 50px;
  padding: 5px;
  text-align: center;
}
